@charset "utf-8";


/* * { padding:0; margin:0; box-sizing:border-box }
a { color:inherit; text-decoration:none }
img { vertical-align:middle; }
ul, ol { list-style-type: none;}
.blind { position:absolute; width:0; height:0; 
    overflow:hidden; text-indent:-99999px; } */


#wrap {
    max-width: 768px;
    margin: 0 auto;
}


#header {
    max-width: 768px;
    margin: 0 auto;
    background: #fff;
    height: 100px;
    border: 1px solid green;
    position: fixed;
    /* position: absolute; */
    top: 0px;
    left: 0;
    right: 0;
    z-index: 99999;
}

#header.on {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 99999
}


#header .logo {
    float: left;
    /* margin-left: 10px; */
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#content {
    min-height: 459px;
}

#topIcon {
    float: right;
    font-size: 30px;
    /* margin-top: 12px; */
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#topIcon a {
    padding: 10px;
}


#navWrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    display: none
}

#navWrap.on {
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999999;
    display: block;
}

#lnb {
    position: absolute;
    top: 0;
    right: -274px;
    bottom: 0;
    width: 274px;
    background: #fff;
}

#lnb_close {
    position: absolute;
    top: 25px;
    left: -50px;
    font-size: 40px;
    color: #fff;
}

#lnb .inBtn {
    margin: 10px 20px;
}

#lnb .menuBox a {
    display: block;
    background: #1e6b96;
    color: #fff;
    padding: 5px;
    margin: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

#lnb .inBtn a {
    display: block;
    background: #1e6b96;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

#container {
    border: 1px solid red;
    margin-top: 100px;
}

#content .topImg {
    background-image: url(/images/mountaineer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 20px;
    margin: 1%;
    border: 1px solid brown;
}



#step_area .btn1,
#step_area .btn2,
#step_area .btn3,
#step_area .btn4 {
    float: left;
    background: #1e6b96;
    width: 48%;
    height: 150px;
    border-radius: 20px;
    margin: 1%;
}




#footer {
    background: #333;
    color: #fff;
    /* padding: 10px; */
    /* margin-top: 5px; */
    border: 1px solid blue;
}


#footer .footer-bottom .sns a {
    font-size: 25px;
    padding: 0 5px;
    margin: 0 3px;
    line-height: 47px;
}

#footer .cs {
    padding: 5px;
    font-size: 20px;
}

#footer .privacy {
    display: flex;
    justify-content: space-between;
    background: #ddd;
    border-radius: 3px;
}

#footer .privacy>a {
    display: block;
    width: 33.33%;
    text-align: center;
    padding: 5px;
    color: #333;
    font-size: 12px;
}

#footer .privacy>a:nth-child(2) {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}

#footer .copyright {
    font-size: 14px;
    margin-top: 5px;
    padding: 5px;
    background: #000;
    text-align: center;
    border-radius: 5px;
}


.mountainContent ul { display:flex;  
    flex-wrap:wrap; /* 자식들의 자동줄바꿈 허용 */
    padding:10px 5px;
    text-align: center; }
.mountainContent ul li { background:#ddd; margin:5px; padding:10px;
    border-radius:5px; flex:250px }    
.mountainContent ul li a { display:block }














/* 회원가입폼페이지 */
fieldset { border:none; padding:20px }
legend { display:none }
#join_box p { margin:15px }
#join_box label { display:inline-block; width:100px; height:30px;
     vertical-align:middle; line-height:30px;
}
#join_box input { width:200px; height:30px; line-height:30px;
     vertical-align:middle }